 <div id = "back">
  <h1>Gamestore</h1>
  <img src = "https://gabestore.ru/images/logo.png" id = "logo">
  <img src = "https://s1.iconbird.com/ico/2014/1/633/w512h5121390857232shopingcart512.png" id = "telega">
</div>
 

<div *ngIf = '!logged'>
  <div id = 'login'>
    <input type="text" placeholder="Username" id = 'username' [(ngModel)] = 'username'>
    <input type="password" placeholder="Password" id = 'password' [(ngModel)] = 'password'>
  </div>
  <div id = 'sign'>
    <button id = 'signup'>Sign up</button>
    <button (click) = 'login()' id = 'signin'>Sign in</button>
  </div>
</div>

<div class = 'slide'>
  <div class = 'slide1'></div>
  <div class = 'slide2'></div>
  <div class = 'slide3'></div>
  <div class = 'slide4'></div>
  <div class = 'slide5'></div>
</div>