<img src = "https://images.alphacoders.com/845/845990.jpg" id = 'wallpaper'>

<div>
  <ul id = "lists">
    <li *ngFor = "let action of productsonPage"> 
      <a [href] = action.url><a [title] = "action.name + ' details'"><img [src] = action.image></a></a><p id = "desc">{{ action.name }}</p>
      <a href = 'https://web.telegram.org'><button onclick="showPrice()"> Share with the: {{action.name}} </button></a> <p id = "rating">Price for this game: {{action.price}}</p>
    </li>
  </ul>
</div>


<div id = 'form-group'> 
  <div>
    <p id = 'forthesubscribers'>If you have to ask to add wish game, please fill the blank :) <br> Sincerely, GameStore administration. </p>
  </div>
  <div>
      <p>Game title</p>
      <input name="name" [(ngModel)]="name" />
  </div>
  <div>
      <p>Price</p>
      <input type="number" name="price" [(ngModel)]="price" />
  </div>
  <div>
      <p>Category</p>
      <select name="category" [(ngModel)]="category">
          <option  *ngFor="let cate of categories" [value]="cate">
              {{cate}}
          </option>
      </select>
  </div>
  <div>
    <p>Operating System</p>
    <input type="text" name="os" [(ngModel)]="os" />
  </div>
  <div>
      <button (click)="addWish()">Add</button>
  </div>
</div>
<div id = 'wishes'>
  <h3>Wish games</h3>
  <ul *ngFor="let p of wishes">
      <li> Name: {{p.name}}, Price: {{p.price}} —— Category: {{p.category}}, OS: {{p.os}}</li>
  </ul>
</div>